# Opérations NumPy

## Arithmétique

Vous pouvez facilement effectuer des opérations arithmétiques *array avec array*, ou *scalaire avec array*. Voyons quelques exemples :

In [ ]:
import numpy as np

In [ ]:
arr = np.arange(0,10)
arr

In [ ]:
arr + arr

In [ ]:
arr * arr

In [ ]:
arr - arr

In [ ]:
# Cela entraînera un avertissement sur la division par zéro, mais pas une erreur !
# Il remplit juste l'emplacement' avec du nan
arr / arr

In [ ]:
# Egalement un avertissement (mais pas une erreur) relatif à l'infini
1 / arr

In [ ]:
arr ** 3

## Fonctions de tableau universelles

NumPy est fourni avec de nombreuses [fonctions de tableau universelles] (http://docs.scipy.org/doc/numpy/reference/ufuncs.html), ou <em>ufuncs</em>, qui sont simplement des opérations mathématiques pouvant être appliquées à l'ensemble du tableau :

In [ ]:
# Racine carrée
np.sqrt(arr)

In [ ]:
# Calculer l'exponentielle (e^)
np.exp(arr)

In [ ]:
# Fonctions trigonométriques comme le sinus
np.sin(arr)

In [ ]:
# Prendre le logarithme
np.log(arr)

## Statistiques sommaires sur les tableaux

NumPy propose également des statistiques récapitulatives communes telles que <em>somme</em>, <em>moyenne</em> et <em>max</em>. On les appelle comme des méthodes sur un tableau.

In [ ]:
arr = np.arange(0,10)
arr

In [ ]:
arr.sum()

In [ ]:
arr.mean()

In [ ]:
arr.max()

<strong> D'autres statistiques sommaires incluent :</strong>
<pre>
arr.min() retourne 0, c'est le minimum
arr.var() retourne une variance de 8,25
arr.std() retourne 2,8722813232690143, c'est l'écart type
</pre>

## Logique des axes
Lorsque nous travaillons avec des tableaux à deux dimensions (matrices), nous devons tenir compte des lignes et des colonnes. Cela devient très important lorsque nous arrivons à la section sur Pandas. En termes de tableaux, l'axe 0 (zéro) est l'axe vertical (lignes), et l'axe 1 est l'axe horizontal (colonnes). Ces valeurs (0,1) correspondent à l'ordre dans lequel les valeurs <tt>arr.shape</tt> sont retournées.

Voyons comment cela affecte nos calculs de statistiques sommaires vus ci-dessus.

In [ ]:
arr_2d = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
arr_2d

In [ ]:
arr_2d.sum(axis=0)

En passant <tt>axis=0</tt>, nous retournons un tableau de sommes le long de l'axe vertical, c'est-à-dire <tt>[(1+5+9), (2+6+10), (3+7+11), (4+8+12)]</tt>

<img src='https://drive.google.com/uc?export=view&id=1MuhzdKMF-knlcNX4rm3hBD8x1j3Abb0L' width=400/>

In [ ]:
arr_2d.shape

Cela nous indique que <tt>arr_2d</tt> a 3 lignes et 4 colonnes.

Dans <tt>arr_2d.sum(axis=0)</tt> ci-dessus, le premier élément de chaque ligne a été additionné, puis le deuxième élément, et ainsi de suite.

Que doit donc retourner <tt>arr_2d.sum(axis=1)</tt> ?

In [ ]:
# REFLECHISSEZ À CE QUE CELA DOIT VOUS RETOURNER AVANT D'EXECUTER LA CELLULE' !
arr_2d.sum(axis=1)