# Series
Le premier type de données principal que nous apprendrons sur Pandas est le type de données de la série. Importons Pandas et explorons l'objet Series.

Une Série est très similaire à un tableau NumPy (en fait, elle est construite sur l'objet array NumPy). Ce qui différencie le tableau NumPy d'une Série, c'est qu'une Série peut avoir des étiquettes d'axe, ce qui signifie qu'elle peut être indexée par une étiquette, au lieu d'être simplement un emplacement de numéro. Elle n'a pas non plus besoin de contenir des données numériques, elle peut contenir n'importe quel type d'objet Python arbitraire.

Explorons ce concept à travers quelques exemples :

In [ ]:
import numpy as np
import pandas as pd

## Création d'un objet Series

Vous pouvez convertir une liste, un tableau numérique ou un dictionnaire en une série :

In [ ]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

### Utilisation des listes

In [ ]:
pd.Series(data=my_list)

In [ ]:
pd.Series(data=my_list,index=labels)

In [ ]:
pd.Series(my_list,labels)

### Utilisation de tableaux NumPy

In [ ]:
pd.Series(arr)

In [ ]:
pd.Series(arr,labels)

### Utilisation de dictionnaires

In [ ]:
pd.Series(d)

### Données dans une Series

Une série Pandas peut contenir divers types d'objets :

In [ ]:
pd.Series(data=labels)

In [ ]:
# Même les fonctions (bien qu'il soit peu probable que vous les utilisiez)
pd.Series([sum,print,len])

## Utilisation d'un index

La clé pour utiliser une série est de comprendre son index. Pandas utilise ces noms ou numéros d'index en permettant une recherche rapide des informations (fonctionne comme une table de hachage ou un dictionnaire).

Voyons quelques exemples de la manière de récupérer des informations dans une série. Créons deux séries, sales_Q1 et sales_Q2 :

In [ ]:
sales_Q1 = pd.Series(data=[250,450,200,150],index = ['USA', 'China','India', 'Brazil'])

In [ ]:
sales_Q1

In [ ]:
sales_Q2 = pd.Series([260,500,210,100],index = ['USA', 'China','India', 'Japan'])

In [ ]:
sales_Q2

In [ ]:
sales_Q1['USA']

In [ ]:
# KEY ERROR !
# sales_Q1[Russia] # mauvais nom, il n'existe pas !
# sales_Q1['USA '] # Mauvais espacement de la chaîne de caractères string, attention à l'espace à la fin !

Les opérations sont alors également effectuées sur la base de l'index :

In [ ]:
# Nous verrons plus tard comment régler ce problème !
sales_Q1 + sales_Q2